@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@500&display=swap");

body {
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background: url("bg5.jpg"),url("wall2.png");
  background-color:rgba(14, 0, 14, 0);
  background-blend-mode:exclusion;
  font-family:"Bree Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
}
.mainheading{
  /* text-align: center; */
  color:black;
  animation: 2s infinite normal slidein;
  font-weight: bold;
  font-family: helvetica;
  font-size:45px;
  display:flex;
  margin:0%;
  /* position: relative; */
  /* overflow: hidden; */
}
@keyframes slidein {
  from {
    margin-right: 0%;
    width:fit-content;
  }

  to {
    margin-left:auto;
    width:fit-content;
  }
}

.mainheading2{
  
  color:black;
  animation: 2s infinite normal slidein2;
  font-weight: bold;
  font-family: helvetica;
  font-size:45px;
  display:flex;
  margin: 0%;
  
  
  position: relative;
  /* overflow: hidden; */
  padding: 0%;
}
@keyframes slidein2 {
  from {
    margin-left: auto;
    width: fit-content;
  }

  to {
    margin-right: 0%;
    width:fit-content;
  }
}
.app {
  
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 95%;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}


.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  text-align: center;
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  padding-bottom: 15px;
}



.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 100%;
  font-size: 16px;
  color: white;
  
  background: linear-gradient( #b92b27, #1565c0);
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #234668;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient( #009fff, #ec2f4b); 

}

button:focus {
  outline: none;
}

button:svg {
  margin-right: 5px;
}
#returnbutton{
  cursor:pointer;
  font-size: 15px;
  display: flex;
  background: linear-gradient(#0f0c29, #302b63, #24243e);
  
  width:fit-content;
  margin-top: auto;
 
  padding:3px;
  
  border-radius: 10px;
  box-shadow: 0 2px rgba(179, 174, 174, 0.219);
  
}
#returnbutton:hover {
  background: linear-gradient( #0f0c29, #231996);
}

#returnbutton:active {
  
  box-shadow: 0 2px rgba(179, 174, 174, 0.219);
  transform: translateY(2px);
}

#headings{
  background: linear-gradient( #b92b27, #1565c0);
  display:flex;
  position: relative;
  overflow: hidden;
  
} 
 #headings2{
  background: linear-gradient(  #1565c0 ,#b92b27);
  display:flex;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 50px;
}
.logocontainer{
  background: linear-gradient(#1565c0 ,#b92b27);
  padding-top: 0px;
  padding-bottom: 1.5rem;
 text-align: center;

 border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#logo{
  padding-left: 5px;
  padding-top: 5px;
  
}
.proceedbutton{
 text-align: center;

}
#proceed{
  font-family:'Segoe UI';
  font-size: larger;
  
  cursor:pointer;
  background: linear-gradient(#0f0c29, #302b63, #24243e);
  padding:3px;
  border:3px solid rgba(0, 0, 0, 0.61);
  border-radius: 10px;
  box-shadow: 0 2px rgba(179, 174, 174, 0.219); 
  
}
#proceed:hover {
  background: linear-gradient( #0f0c29, #231996);
}

#proceed:active {
  
  box-shadow: 0 2px rgba(179, 174, 174, 0.219);
  transform: translateY(2px);
}


.prevbutton {
  margin-top: auto;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: linear-gradient( #ec2f4b,#009fff);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px rgba(179, 174, 174, 0.219);
}

.prevbutton:hover {
  background: linear-gradient(#009fff, #ec2f4b);
}

.prevbutton:active {
  
  box-shadow: 0 2px rgba(179, 174, 174, 0.219);
  transform: translateY(2px);
}
